<section class="text-center mt-2 relative h-screen	">
    <input type="file" (change)="onFileSelected($event)" class="border border-gray-300 px-4 py-2 rounded-lg"
        accept="image/jpeg, image/png">
    <button (click)="uploadImage()" [disabled]="isApiCallInProgress"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg mt-2 ml-5">hotdog or
        not</button>
    <div *ngIf="selectedFile" class="mt-4 w-1/3	mx-auto">
        <img [src]="selectedFileDataUrl" alt="Uploaded Image" class="mx-auto max-w-full">
    </div>
    <div *ngIf="hotdog" class="text-green-500 font-bold mt-4 text-lg">This is a hot dog.</div>
    <div *ngIf="hotdog == false" class="text-red-500 font-bold mt-4 text-lg">This is not a hot dog.</div>

    <footer class="py-4 text-center absolute bottom-0 left-0 right-0">

        made with 🌭 by <a href="https://twitter.com/jagdishpatil02" target="_blank"
            class="text-blue-500 font-bold">Jagdish</a>
    </footer>
</section>